---
layout: base
---
{% set pageHeaderTitle = title %}

<h1>{{ pageHeaderTitle }}</h1>
{{ content | safe }}
{{ page.date.toLocaleString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) }}.
<br>
{% include "partials/_paginate.njk" %}
