---
layout: base
---
{% set pageHeaderTitle = title %}

<h2 class="page-header-title">{{ pageHeaderTitle }}</h2>
<div class="page-content">{{ content | safe }}</div>
<time>{{ page.date | postDate }}.</time>
<br>
{% include "partials/_paginate_reviews.njk" %}
