/* IBM Plex Serif Regular */
@font-face {
   font-family: 'IBM Plex Serif';
   font-display: fallback;
   src: url('../fonts/IBMPlexSerif-Regular.woff2') format('woff2'),
    url('../fonts/IBMPlexSerif-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}

/* IBM Plex Serif Italic */
@font-face {
   font-family: 'IBM Plex Serif';
   font-display: fallback;
   src: url('../fonts/IBMPlexSerif-Italic.woff2') format('woff2'),
      url('../fonts/IBMPlexSerif-Italic.woff') format('woff');
   font-weight: 400;
   font-style: italic;
}

/* IBM Plex Serif Bold */
@font-face {
   font-family: 'IBM Plex Serif';
   font-display: fallback;
   src: url('../fonts/IBMPlexSerif-Bold.woff2') format('woff2'),
      url('../fonts/IBMPlexSerif-Bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
}

/* IBM Plex Serif Bold Italic */
@font-face {
   font-family: 'IBM Plex Serif';
   font-display: fallback;
   src: url('../fonts/IBMPlexSerif-BoldItalic.woff2') format('woff2'),
      url('../fonts/IBMPlexSerif-BoldItalic.woff') format('woff');
   font-weight: 700;
   font-style: italic;
}
