/* PlexSerif Regular */
@font-face {
   font-family: 'PlexSerif';
   font-display: fallback;
   src: url('../fonts/ibmplexserif-regular-webfont.woff2') format('woff2'),
    url('../fonts/ibmplexserif-regular-webfont.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}

/* PlexSerif Italic */
@font-face {
   font-family: 'PlexSerif';
   font-display: fallback;
   src: url('../fonts/ibmplexserif-italic-webfont.woff2') format('woff2'),
      url('../fonts/ibmplexserif-italic-webfont.woff') format('woff');
   font-weight: 400;
   font-style: italic;
}

/* PlexSerif Bold */
@font-face {
   font-family: 'PlexSerif';
   font-display: fallback;
   src: url('../fonts/ibmplexserif-bold-webfont.woff2') format('woff2'),
      url('../fonts/ibmplexserif-bold-webfont.woff') format('woff');
   font-weight: 700;
   font-style: normal;
}

/* PlexSerif Bold Italic */
@font-face {
   font-family: 'PlexSerif';
   font-display: fallback;
   src: url('../fonts/ibmplexserif-bolditalic-webfont.woff2') format('woff2'),
      url('../fonts/ibmplexserif-bolditalic-webfont.woff') format('woff');
   font-weight: 700;
   font-style: italic;
}
