/* src/assets/css/style.css*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(234, 233, 224);
  text-rendering: optimizeLegibility;
  font-family: Georgia, "Times New Roman", serif;
  line-height: 1.5;
}

a {
  color:#000;
  text-decoration-skip-ink: auto;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color:#333
}

nav {
  padding-left: 1rem;
  padding-bottom: 1em;
  border-bottom: 1px solid #000;
}
@media screen and (min-width:1025px) {
  nav {
  }
}
@media screen and (max-width:1024px) {
  nav {
  }
}

main {
  padding-left: 1rem;
}
@media screen and (min-width:1025px) {
  main {
  }
}
@media screen and (max-width:1024px) {
  main {
  }
}

main > h1 {
  margin-bottom: 0.5rem;
}

.site-wrapper {
  /* display: flex; */
  /* padding-top: 2em; */
  /* padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto; */
}
@media screen and (min-width:1025px) {
  .site-wrapper {
    /* flex-direction: row;
    justify-content: center ; */
    /* align-items: baseline; */
  }
}
@media screen and (max-width:1024px) {
  .site-wrapper {
    /* flex-direction: column; */
  }
}

@media screen and (min-width:1025px) {
  .nav-wrapper {
     
  }
}
@media screen and (max-width:1024px) {
  .nav-wrapper {

  }
}

.pagination {
  display: flex;
  justify-content: space-around;
}