/* src/assets/css/style.css*/
@import "./normalize.css";
@import "./fonts.css";

*,
*::before,
*::after {
  box-sizing: inherit; 
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  color: rgb(16, 15, 15);
  background-color: rgb(234, 233, 224);
  text-rendering: optimizeLegibility;
  font-family: "PlexSerif", Georgia, "Times New Roman", serif;
  font-size: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  line-height: 1.4;
}

a {
  color: rgb(16, 15, 15);
  text-decoration-skip-ink: auto;
  text-decoration: underline;
}

a:hover {
  color: rgb(34, 142, 133);
  opacity: 0.7;
  text-decoration: underline;
}

time {
  font-style: italic;
}

blockquote {
  margin: 0 0 1rem;
}

blockquote p {
  border-left: 3px solid #8b8c87;
  padding-left: 1rem;
}

.main-flexifier {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width:981px) {
    padding-top: 4rem;
    flex-direction: row;
  }
}

.nav-block {
  max-width: 500px;
  background-color: rgb(234, 233, 224);
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
  display: block;
  position: relative;
  @media screen and (min-width:981px) {
    padding-top: 4rem;
    display: inline-block;
    position: fixed;
  }
}

.nav-block > :first-child {
  margin-top: 0;
}

.nav-title > a {
  text-decoration: none;
}

.nav-links {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-links > li > a {
  text-decoration: none;
}

.content-wrap {
  display: inline-block;
  @media screen and (min-width:981px) {
    width: 500px;
  }
}

.content-wrap > :first-child {
  margin-top: 0;
}

.post {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  @media screen and (min-width:981px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.post-title > a {
  text-decoration: none;
}

.page-header-title {
  margin-top: 0;
}

.page-content > ol {
  padding-left: 20px;
  @media screen and (min-width:981px) {
    padding-left: 40px;
  }
}

.page-content > ol > li > ul { 
  padding-left: 20px;
  @media screen and (min-width:981px) {
    padding-left: 40px;
  }
}

.page-content > ol > li > ul > li { 
  margin-bottom: 1rem;
}

.footnotes > ol {
  padding-left: 20px;
  @media screen and (min-width:981px) {
    padding-left: 40px;
  }
}
