<!-- _includes/partials/_navigation.njk-->
<nav class="nav-wrap">
    <div class="space-between">
        <h1>📚</h1>
        <h1>💻</h1>
        <h1>🍜</h1>
        <h1>🎹</h1>
        <h1>🙏🏼</h1>
    </div>
    <h1>Joe Krall</h1>
    <ul>
    {%- for item in collections.page -%}
        <ul>
            <a href="{{ item.url }}">{{ item.data.title }}</a>
        </ul>
    {%- endfor -%}
    </ul>
</nav>

