<!-- _includes/partials/_navigation.njk-->
<nav class="nav-flexi-wrap">
    <h1>Joe Krall</h1>
    <ul>
    {%- for item in collections.page -%}
        <ul>
            <a href="{{ item.url }}">{{ item.data.title }}</a>
        </ul>
    {%- endfor -%}
    </ul>
</nav>

