{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}
<br>
<nav class="post">
  {% if previousPost %}
  <span>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></span>
  {% else %}
  <br>
  {% endif %}
  {% if nextPost %}
  <span>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></span>
  {% else %}
  <br>
  {% endif %}
</nav>