{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}
<br>
<nav class="space-between">
  {% if previousPost %}
  <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
  {% else %}
  <br>
  {% endif %}
  {% if nextPost %}
  <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
  {% else %}
  <br>
  {% endif %}
</nav>